@model IEnumerable<About>


  <div id="about">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-7">
                    <div class="section-seperator margin-b-50">
                        <div class="margin-b-50">
                            <div class="margin-b-30">
                                <h2>About Me</h2>
                                @foreach (var x in Model)
                            {
                                <p>
                                    @x.AboutDec
                            </p>
                            }
                            </div>
                            </div>
                            </div>
               
                </div>
            </div>
        </div>
    </div>
